<mat-nav-list>
  <div class="logo py-4">
    <img src="../../assets/image/google.svg" alt="Company Logo">
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2"> APPLICATION </h2>
  <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
    <mat-icon>home</mat-icon>
    Home </a>
  <a mat-list-item routerLink="/admin" routerLinkActive="list-item-active">
    <mat-icon>key</mat-icon>
    Admin </a>
  <a mat-list-item routerLink="/member" routerLinkActive="list-item-active">
    <mat-icon>people</mat-icon>
    Member </a>
  <a mat-list-item routerLinkActive="list-item-active" data-toggle="collapse"
     data-target="#collapseExample"
     aria-expanded="false" aria-controls="collapseExample">
    <mat-icon>key</mat-icon>
    Main Button </a>
  <div class="collapse" id="collapseExample">
    <div class="card card-body" style="background-color: #151c2f">
      <a mat-list-item routerLink="/member" routerLinkActive="list-item-active">
        <mat-icon>people</mat-icon>
        Member </a>
      <a mat-list-item routerLinkActive="list-item-active">
        <mat-icon>people</mat-icon>
        Member </a>
      <a mat-list-item  routerLinkActive="list-item-active">
        <mat-icon>people</mat-icon>
        Member </a>
    </div>
  </div>

</mat-nav-list>
