<body>
<div class="container-xl px-4 mt-4">
  <div class="row">
    <div class="col-xl-4">
      <!-- Profile picture card-->
      <div class="card mb-4 mb-xl-0">
        <div class="card-header">Product Picture</div>
        <div class="card-body text-center">

          <h6>Main Image</h6>
          <!-- Profile picture image-->
          <img class="img-account-profile rounded-circle mb-2" src="http://bootdey.com/img/Content/avatar/avatar1.png"
               alt="">
          <!-- Profile picture help block-->
          <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
          <!-- Profile picture upload button-->
          <button class="btn btn-primary" type="button">Upload New Image</button>

          <!--          gonna present in modal to pick image-->

          <!--          <hr class="mt-2 mb-4">-->

          <!--          <h6>Secondary Image</h6>-->
          <!--          &lt;!&ndash; Profile picture image&ndash;&gt;-->
          <!--          <img class="img-account-profile rounded-circle mb-2" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">-->
          <!--          &lt;!&ndash; Profile picture help block&ndash;&gt;-->
          <!--          <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>-->
          <!--          &lt;!&ndash; Profile picture upload button&ndash;&gt;-->
          <!--          <button class="btn btn-primary" type="button">Upload secondary image</button>-->

          <!--          <hr class="mt-2 mb-4">-->

          <!--          <h6>Third Image</h6>-->
          <!--          &lt;!&ndash; Profile picture image&ndash;&gt;-->
          <!--          <img class="img-account-profile rounded-circle mb-2" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">-->
          <!--          &lt;!&ndash; Profile picture help block&ndash;&gt;-->
          <!--          <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>-->
          <!--          &lt;!&ndash; Profile picture upload button&ndash;&gt;-->
          <!--          <button class="btn btn-primary" type="button">Upload third image</button>-->
        </div>
      </div>
    </div>
    <div class="col-xl-8">
      <div class="card mb-4">
        <div class="card-header">Product Details</div>
        <div class="card-body">
          <form [formGroup]="reactiveForm" (ngSubmit)="submit()">
            <div class="mb-3">
              <div class="form-group">
                <label class="small mb-1" for="inputUsername">Product Name</label>
                <input class="form-control" id="inputUsername" type="text" placeholder="Enter product name"
                       formControlName="name">
                <div *ngIf="reactiveForm.controls.name.errors && (reactiveForm.controls.name.touched ||
                           reactiveForm.controls.name.dirty) " style="color: red">
                  <div *ngIf="reactiveForm.hasError('required','name')">
                    Product Name is required
                  </div>
                  <div *ngIf="reactiveForm.hasError('minLength','name')">
                    Product Name must be 3 characters or more
                  </div>
                  <div *ngIf="reactiveForm.hasError('maxLength','name')">
                    Product Name maximum length is 10
                  </div>
                </div>
              </div>
            </div>
            <div class="row gx-3 mb-3">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="selectActiveStatus" class="small mb-1">Active Status</label>
                  <select name="rank" id="selectActiveStatus" class="form-select" formControlName="active">
                    <option value="true">Active</option>
                    <option value="false">Inactive</option>
                  </select>
                  <div *ngIf="reactiveForm.controls.discount.errors && (reactiveForm.controls.discount.touched ||
                           reactiveForm.controls.discount.dirty) " style="color: red">
                    <div *ngIf="reactiveForm.hasError('required', 'discount')">
                      Discount status is required
                    </div>
                    <div *ngIf="reactiveForm.hasError('required', 'discount')">
                      Discount status is required
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="selectCategory" class="small mb-1">Category</label>
                  <select name="rank" id="selectCategory" class="form-select" formControlName="category">
                    <option value="true">Active</option>
                    <option value="false">Inactive</option>
                  </select>
                  <div *ngIf="reactiveForm.controls.discount.errors && (reactiveForm.controls.discount.touched ||
                           reactiveForm.controls.discount.dirty) " style="color: red">
                    <div *ngIf="reactiveForm.hasError('required', 'discount')">
                      Discount status is required
                    </div>
                    <div *ngIf="reactiveForm.hasError('required', 'discount')">
                      Discount status is required
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="mb-3">
              <div class="form-group">
                <label class="small mb-1" for="productDescription">Description</label>
                <textarea class="form-control" id="productDescription" rows="3"
                          formControlName="description"></textarea>
                <div *ngIf="reactiveForm.controls.description.errors && (reactiveForm.controls.description.touched ||
                           reactiveForm.controls.description.dirty) " style="color: red">
                  <div *ngIf="reactiveForm.hasError('required','description')">
                    Product description is required
                  </div>
                  <div *ngIf="reactiveForm.hasError('minLength','description')">
                    Product description minimum length is 20 characters
                  </div>
                  <div *ngIf="reactiveForm.hasError('maxlength','description')">
                    Product description maximum length is 200 characters
                  </div>
                </div>
              </div>
            </div>
            <!-- Form Row-->
            <div class="row gx-3 mb-3">
              <!-- Form Group (first name)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputFirstName">Total Calories (Cals)</label>
                <input class="form-control" id="inputFirstName" type="number" placeholder="Enter total calories"
                       formControlName="totalCalories">
                <div *ngIf="reactiveForm.controls.totalCalories.errors && (reactiveForm.controls.totalCalories.touched ||
                           reactiveForm.controls.totalCalories.dirty) " style="color: red">
                  <div *ngIf="reactiveForm.hasError('required','totalCalories')">
                    Total calories is required
                  </div>
                  <div *ngIf="reactiveForm.hasError('numeric','totalCalories')">
                    Total calories must be in positive (+)
                  </div>
                  <div *ngIf="reactiveForm.hasError('maxNumber','totalCalories')">
                    Maximum total calories 10000
                  </div>
                </div>
              </div>
              <!-- Form Group (last name)-->
              <div class="col-md-6">
                <div class="form-group">
                  <label for="editInputRole" class="small mb-1">Discount Status</label>
                  <select name="rank" id="editInputRole" class="form-select" formControlName="discount"
                          (change)="selectDiscountStatus()">
                    <option value="true">Available</option>
                    <option value="false">Not Available</option>
                  </select>
                  <div *ngIf="reactiveForm.controls.discount.errors && (reactiveForm.controls.discount.touched ||
                           reactiveForm.controls.discount.dirty) " style="color: red">
                    <div *ngIf="reactiveForm.hasError('required', 'discount')">
                      Discount status is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Form Row        -->
            <div class="row gx-3 mb-3">
              <!-- Form Group (organization name)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputUnitPrice">Unit Price</label>
                <input currencyMask
                       class="form-control" id="inputUnitPrice" type="text" placeholder="Enter unit price"
                       formControlName="unitPrice">
                <div *ngIf="reactiveForm.controls.unitPrice.errors && (reactiveForm.controls.unitPrice.touched ||
                           reactiveForm.controls.unitPrice.dirty) " style="color: red">
                  <div *ngIf="reactiveForm.hasError('required','unitPrice')">
                    Unit price is required
                  </div>
                  <div *ngIf="reactiveForm.hasError('numeric','unitPrice')">
                    Unit price must be number
                  </div>
                  <div *ngIf="reactiveForm.hasError('greaterThan','unitPrice')">
                    Unit price must be greater than discounted price
                  </div>
                </div>
              </div>
              <!-- Form Group (location)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputDiscountedPrice">Discounted Price</label>
                <input
                  currencyMask
                  class="form-control" id="inputDiscountedPrice" type="text"
                  formControlName="discountedPrice" autocomplete="off">
                <div *ngIf="reactiveForm.controls.discountedPrice.errors && (reactiveForm.controls.discountedPrice.touched ||
                           reactiveForm.controls.discountedPrice.dirty) " style="color: red">
                  <div *ngIf="reactiveForm.hasError('required','discountedPrice')">
                    Discounted price is required
                  </div>
                  <div *ngIf="reactiveForm.hasError('pattern','discountedPrice')">
                    Discounted price format is invalid
                  </div>
                  <div *ngIf="reactiveForm.hasError('lessThan','discountedPrice')">
                    Discounted price should be less than unit price !
                  </div>
                </div>
              </div>
            </div>

            <!-- Save changes button-->
            <button
              type="submit"
              class="btn btn-primary">
              Add Product
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
