<body>
<div class="container-xl px-4 mt-4">
  <div class="row">
    <div class="col-xl-4">
      <div class="card mb-4 mb-xl-0">
        <div class="card-header">Product Image</div>
        <div class="card-body text-center">

          <h6>Main Image</h6>
          <img
            class="img-account-profile mb-2"
            [lazyLoad]="checkMainImage()" alt="">
          <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
          <button class="btn btn-primary" type="button"
                  (click)="onSaveImageClicked(uploadImageModal)"
          >Upload New Image
          </button>

          <!-- Modal Upload Image -->
          <ng-template #uploadImageModal let-modal>
            <div class="modal-header" ngbAutofocus>
              <h4 class="modal-title" id="uploadImageModal">Upload Product Image (Max: 3)</h4>
              <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()">
              </button>
            </div>
            <div class="modal-body">
              <div class="text-end mb-3 container">
                <button
                  mat-mini-fab
                  class="mat-success"
                  (click)="addNewProductImage()">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
              <form [formGroup]="reactiveForm">
                <div formArrayName="images">
                  <ng-container class="mb-3" *ngFor="let images of reactiveForm.get('images').controls;let i = index"
                                [formGroupName]="i">
                    <ng-container>
                      <div class="row">
                        <div class="col-auto">
                          <h5>{{i + 1}}.</h5>
                        </div>
                        <div class="col">
                          <input type="file" accept="image/*"
                                 class="form-control mb-2"
                                 id="mainImageInput" (change)="onImageChange($event, i);">
                        </div>
                      </div>
                      <div class="row justify-content-center">
                        <div class="col-auto p-0 m-0">
                          <img
                            class="img-product-upload mb-2 form-control"
                            [lazyLoad]="checkAddProductImage(i, this.images.value.imageName)" alt="Product Image"/>
                        </div>
                        <div class="col-auto p-0 m-0">
                          <button
                            *ngIf="isFirstImageArray(i)"
                            mat-icon-button
                            color="warn"
                            (click)="deleteProductImage(i)">
                            <mat-icon>delete</mat-icon>
                          </button>
                        </div>
                      </div>
                      <input type="text" class="mb-2 form-control text-center" formControlName="imageName" readonly>
                      <div *ngIf="(images.controls.imageName.invalid)" class="alert alert-danger">
                        <div *ngIf="images.hasError('required', 'imageName')">
                          Image is required.
                        </div>
                      </div>
                      <div class="mb-5"></div>
                    </ng-container>
                  </ng-container>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <!--              <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Cancel</button>-->
<!--              <button type="button" class="btn btn-outline-primary"-->
<!--                      (click)="modal.close()">-->
<!--                Save-->
<!--              </button>-->
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="col-xl-8">
      <div class="card mb-4">
        <div class="card-header">Product Details</div>
        <div class="card-body">
          <form [formGroup]="reactiveForm" (ngSubmit)="submit()">
            <div class="mb-3">
              <div class="form-group">
                <label class="small mb-1" for="inputUsername">Product Name</label>
                <input class="form-control" id="inputUsername" type="text" placeholder="Enter product name"
                       formControlName="name">
                <div *ngIf="reactiveForm.controls.name.errors && (reactiveForm.controls.name.touched ||
                           reactiveForm.controls.name.dirty) " style="color: red">
                  <div *ngIf="reactiveForm.hasError('required','name')">
                    Product Name is required
                  </div>
                  <div *ngIf="reactiveForm.hasError('minLength','name')">
                    Product Name must be 3 characters or more
                  </div>
                  <div *ngIf="reactiveForm.hasError('maxLength','name')">
                    Product Name maximum length is 10
                  </div>
                </div>
              </div>
            </div>
            <div class="row gx-3 mb-3">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="selectActiveStatus" class="small mb-1">Active Status</label>
                  <select name="rank" id="selectActiveStatus" class="form-select" formControlName="active">
                    <option value="true">Active</option>
                    <option value="false">Inactive</option>
                  </select>
                  <div *ngIf="reactiveForm.controls.discount.errors && (reactiveForm.controls.discount.touched ||
                           reactiveForm.controls.discount.dirty) " style="color: red">
                    <div *ngIf="reactiveForm.hasError('required', 'discount')">
                      Discount status is required
                    </div>
                    <div *ngIf="reactiveForm.hasError('required', 'discount')">
                      Discount status is required
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-md-6">
                <div class="form-group" formGroupName="category">
                  <label for="selectCategory" class="small mb-1">Category</label>
                  <select name="rank" id="selectCategory" class="form-select" formControlName="id">
                    <option *ngFor="let category of categories" [value]="category.id">
                      {{category?.categoryName}}
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="mb-3">
              <div class="form-group">
                <label class="small mb-1" for="productDescription">Description</label>
                <textarea class="form-control" id="productDescription" rows="3"
                          formControlName="description"></textarea>
                <div *ngIf="reactiveForm.controls.description.errors && (reactiveForm.controls.description.touched ||
                           reactiveForm.controls.description.dirty) " style="color: red">
                  <div *ngIf="reactiveForm.hasError('required','description')">
                    Product description is required
                  </div>
                  <div *ngIf="reactiveForm.hasError('minLength','description')">
                    Product description minimum length is 20 characters
                  </div>
                  <div *ngIf="reactiveForm.hasError('maxlength','description')">
                    Product description maximum length is 200 characters
                  </div>
                </div>
              </div>
            </div>
            <div class="row gx-3 mb-3">
              <div class="col-md-6">
                <label class="small mb-1" for="inputFirstName">Total Calories (Cals)</label>
                <input class="form-control" id="inputFirstName" type="number" placeholder="Enter total calories"
                       formControlName="totalCalories">
                <div *ngIf="reactiveForm.controls.totalCalories.errors && (reactiveForm.controls.totalCalories.touched ||
                           reactiveForm.controls.totalCalories.dirty) " style="color: red">
                  <div *ngIf="reactiveForm.hasError('required','totalCalories')">
                    Total calories is required
                  </div>
                  <div *ngIf="reactiveForm.hasError('numeric','totalCalories')">
                    Total calories must be in positive (+)
                  </div>
                  <div *ngIf="reactiveForm.hasError('maxNumber','totalCalories')">
                    Maximum total calories 10000
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="editInputRole" class="small mb-1">Discount Status</label>
                  <select name="rank" id="editInputRole" class="form-select" formControlName="discount"
                          (change)="selectDiscountStatus()">
                    <option value="true">Available</option>
                    <option value="false">Not Available</option>
                  </select>
                  <div *ngIf="reactiveForm.controls.discount.errors && (reactiveForm.controls.discount.touched ||
                           reactiveForm.controls.discount.dirty) " style="color: red">
                    <div *ngIf="reactiveForm.hasError('required', 'discount')">
                      Discount status is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row gx-3 mb-3">
              <div class="col-md-6">
                <label class="small mb-1" for="inputUnitPrice">Unit Price</label>
                <input currencyMask
                       class="form-control" id="inputUnitPrice" type="text" placeholder="Enter unit price"
                       formControlName="unitPrice">
                <div *ngIf="reactiveForm.controls.unitPrice.errors && (reactiveForm.controls.unitPrice.touched ||
                           reactiveForm.controls.unitPrice.dirty) " style="color: red">
                  <div *ngIf="reactiveForm.hasError('required','unitPrice')">
                    Unit price is required
                  </div>
                  <div *ngIf="reactiveForm.hasError('numeric','unitPrice')">
                    Unit price must be number
                  </div>
                  <div *ngIf="reactiveForm.hasError('greaterThan','unitPrice')">
                    Unit price must be greater than discounted price
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label class="small mb-1" for="inputDiscountedPrice">Discounted Price</label>
                <input
                  currencyMask
                  class="form-control" id="inputDiscountedPrice" type="text"
                  formControlName="discountedPrice" autocomplete="off">
                <div *ngIf="reactiveForm.controls.discountedPrice.errors && (reactiveForm.controls.discountedPrice.touched ||
                           reactiveForm.controls.discountedPrice.dirty) " style="color: red">
                  <div *ngIf="reactiveForm.hasError('required','discountedPrice')">
                    Discounted price is required
                  </div>
                  <div *ngIf="reactiveForm.hasError('pattern','discountedPrice')">
                    Discounted price format is invalid
                  </div>
                  <div *ngIf="reactiveForm.hasError('lessThan','discountedPrice')">
                    Discounted price should be less than unit price !
                  </div>
                </div>
              </div>
            </div>

            <button
              type="submit"
              class="btn btn-primary">
              {{ editMode ? 'Save Changes' : 'Add Product'}}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

</body>

<!--                <pre>-->
<!--                  {{reactiveForm.value | json}}-->
<!--                </pre>-->
