<div class="container mt-4">
  <div class="mb-3">
    <div class="col mb-3">
      <div class="card" style="padding: 20px">
        <nav class="navbar">
          <div class="container-fluid">
            <button routerLink="/int/user/add" class="btn btn-primary">Add User</button>
            <div class="d-flex">
              <!--          (click)="sort('userFirstName')"-->
              <button class="btn btn-dark me-2">
                <!--            <i *ngIf="!isDescOrder" class="fa fa-sort-alpha-desc"></i>-->
                <!--            <i *ngIf="isDescOrder" class="fa fa-sort-alpha-asc"></i>-->
              </button>
              <!--          [(ngModel)]="term"-->
              <input class="form-control me-2" type="search" placeholder="Search"
                     aria-label="Search">
            </div>
          </div>
        </nav>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>


  </div>
</div>


