<div class="container h-100 mt-4">
  <div class="mb-3">
    <div class="col mb-3">
      <div class="card">
        <nav class="navbar">
          <div class="container-fluid">
            <button
              (click)="openAddOrEditModal(null, addOrEditModal, false)"
              class="btn btn-primary">Add Category
            </button>
            <div class="d-flex">
              <button (click)="sort('categoryName')" class="btn btn-dark me-2">
                <i [class]="!isDescOrder ? 'fa fa-sort-alpha-desc' : 'fa fa-sort-alpha-asc'"></i>
              </button>
              <input [(ngModel)]="searchCategory"
                     (ngModelChange)="p = 1"
                     class="form-control me-2" type="search" placeholder="Search"
                     aria-label="Search">
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <div class="row h-100">
    <ng-container *ngIf="productCategory | filter: searchCategory  as result" class="h-100">
      <div *ngFor="let category of result |
                  orderBy: orderHeader: isDescOrder |
                  paginate: { itemsPerPage: 6, currentPage: p }  ; let i=index;"
           class="col-sm-6 col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
          <div class="card-header">
            {{category.categoryName}}
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <i class="fa fa-upload me-1" style="color:blue!important"></i>
                Created : {{category.createdOn}}
              </li>
              <li class="list-group-item">
                <i class="fa fa-clock me-1" style="color:blue!important"></i>
                Updated : {{category.updatedOn}}
              </li>
              <li class="list-group-item">
                <i class="fa fa-shopping-cart me-1" style="color:blue!important"></i>
                Total product : {{category?.totalProduct}}
              </li>
            </ul>
          </div>
          <div class="card-footer">
            <div class="d-flex justify-content-end">
              <button
                *ngIf="category.categoryName != 'Unassigned'"
                mat-icon-button
                color="primary"
                (click)="openAddOrEditModal(category.id, addOrEditModal,true)">
                <mat-icon>edit</mat-icon>
              </button>
              <button
                mat-icon-button
                color="primary"
                (click)="openProductOnCatModal(category.id, removeProductModal)">
                <mat-icon>shopping_cart</mat-icon>
              </button>
              <button
                *ngIf="category.categoryName != 'Unassigned'"
                mat-icon-button
                (click)="openDeleteModal(deleteCategoryModal, category?.id)"
                color="warn">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="result.length === 0" class="text-center mt-5">
        No category Found
      </div>
      <div
        *ngIf="result.length != 0"
        class="text-center">
        <pagination-controls
          (pageChange)="p = $event"
        ></pagination-controls>
      </div>
    </ng-container>
  </div>

  <!-- Modal Remove Product In Category -->
  <p-dialog header="Unassigned Product" [(visible)]="displayRemoveProductModal" [modal]="true" [style]="{width: '50vw'}"
            [draggable]="false" [resizable]="false" [baseZIndex]="10000">
    <p-table [value]="tableProducts" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th>Product Name</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{product.name}}</td>
          <td>
            <button
              *ngIf="this.reactiveForm.value.categoryName != 'Unassigned'"
              (click)="openRemoveProductModal(confirmationRemoveProductModal, removeProductModal, product.id)"
              type="button"
              mat-icon-button
              color="warn">
              <mat-icon>delete</mat-icon>
            </button>

            <p-dropdown
              appendTo="body"
              [placeholder]="'Unassigned'"
              *ngIf="this.reactiveForm.value.categoryName === 'Unassigned'"
              [options]="productCategory" (onChange)="onCategorySelection($event, product.id)"
              optionLabel="categoryName"></p-dropdown>

            <!--                <mat-form-field-->
            <!--                  appearance="standard">-->
            <!--                  <mat-label>Category</mat-label>-->
            <!--                  <mat-select-->
            <!--                    value="akisjasas-asajek-ajsoaks-ejakjenafe">-->
            <!--                    <mat-option *ngFor="let category of productCategory"-->
            <!--                                (click)="onCategorySelection(category.id, product.id)"-->
            <!--                                [value]="category.id"> -->
            <!--                      {{category?.categoryName}}-->
            <!--                    </mat-option>-->
            <!--                  </mat-select>-->
            <!--                </mat-form-field>-->
          </td>
        </tr>
      </ng-template>
    </p-table>

    <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="saveUnassignedProduct()" label="Ok"
                styleClass="p-button-text"></p-button>
    </ng-template>
  </p-dialog>

  <ng-template #removeProductModal let-modal>
    <form>xs
      <div class="modal-header" ngbAutofocus>
        <h4 class="modal-title" id="removeProductModal">{{this.reactiveForm.value?.categoryName}} Product</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()">
        </button>
      </div>

      <div class="modal-body h-100">

        <p-table [value]="tableProducts" responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
              <th>Product Name</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
            <tr>
              <td>{{product.name}}</td>
              <td>
                <button
                  *ngIf="this.reactiveForm.value.categoryName != 'Unassigned'"
                  (click)="openRemoveProductModal(confirmationRemoveProductModal, removeProductModal, product.id)"
                  type="button"
                  mat-icon-button
                  color="warn">
                  <mat-icon>delete</mat-icon>
                </button>

                <p-dropdown
                  *ngIf="this.reactiveForm.value.categoryName === 'Unassigned'"
                  [options]="productCategory" optionLabel="name"></p-dropdown>

                <!--                <mat-form-field-->
                <!--                  appearance="standard">-->
                <!--                  <mat-label>Category</mat-label>-->
                <!--                  <mat-select-->
                <!--                    value="akisjasas-asajek-ajsoaks-ejakjenafe">-->
                <!--                    <mat-option *ngFor="let category of productCategory"-->
                <!--                                (click)="onCategorySelection(category.id, product.id)"-->
                <!--                                [value]="category.id"> -->
                <!--                      {{category?.categoryName}}-->
                <!--                    </mat-option>-->
                <!--                  </mat-select>-->
                <!--                </mat-form-field>-->
              </td>
            </tr>
          </ng-template>
        </p-table>

        <!--        <table-->
        <!--          mat-table [dataSource]="dataSource" matSort class="w-100">-->
        <!--          <tr mat-header-row *matHeaderRowDef="displayedColumns;  sticky: true"></tr>-->
        <!--          <tr-->
        <!--            mat-row-->
        <!--            *matRowDef="let row;-->
        <!--                      columns: displayedColumns;">-->
        <!--          </tr>-->

        <!--          <tr class="mat-row" *matNoDataRow>-->
        <!--            <td class="mat-cell" colspan="9999">-->
        <!--              No data found-->
        <!--            </td>-->
        <!--          </tr>-->

        <!--          <ng-container matColumnDef="name">-->
        <!--            <th mat-header-cell mat-sort-header="name" *matHeaderCellDef sortActionDescription="Sort by name">-->
        <!--              Product Name-->
        <!--            </th>-->
        <!--            <td mat-cell *matCellDef="let product"> {{product.name}} </td>-->
        <!--          </ng-container>-->

        <!--          <ng-container matColumnDef="delete">-->
        <!--            <th mat-header-cell *matHeaderCellDef></th>-->
        <!--            <td mat-cell *matCellDef="let product;let i = index">-->
        <!--              <button-->
        <!--                *ngIf="this.reactiveForm.value.categoryName != 'Unassigned'"-->
        <!--                (click)="openRemoveProductModal(confirmationRemoveProductModal, removeProductModal, product.id ,product.name, i)"-->
        <!--                type="button"-->
        <!--                mat-icon-button-->
        <!--                color="warn">-->
        <!--                <mat-icon>delete</mat-icon>-->
        <!--              </button>-->

        <!--              <mat-form-field-->
        <!--                *ngIf="this.reactiveForm.value.categoryName === 'Unassigned'"-->
        <!--                appearance="standard">-->
        <!--                <mat-label>Category</mat-label>-->
        <!--                <mat-select-->
        <!--                  value="akisjasas-asajek-ajsoaks-ejakjenafe">-->
        <!--                  <mat-option *ngFor="let category of productCategory"-->
        <!--                              (click)="onCategorySelection(category.id, product.id)"-->
        <!--                              [value]="category.id">-->
        <!--                    {{category?.categoryName}}-->
        <!--                  </mat-option>-->
        <!--                </mat-select>-->
        <!--              </mat-form-field>-->

        <!--            </td>-->
        <!--          </ng-container>-->
        <!--        </table>-->
      </div>
      <div
        *ngIf="this.reactiveForm.value.categoryName === 'Unassigned'"
        class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Cancel</button>
        <button type="submit" (click)="saveUnassignedProduct()" class="btn btn-outline-primary">
          Confirm
        </button>
      </div>
    </form>

  </ng-template>


  <!-- Modal Add or Edit Category -->
  <ng-template #addOrEditModal let-modal>
    <form [formGroup]="reactiveForm" (ngSubmit)="submit()">

      <div class="modal-header" ngbAutofocus>
        <h4 class="modal-title" id="addOrEditProductModal">{{editMode ? "Edit" : "Add"}} Category ?</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()">
        </button>
      </div>

      <div class="modal-body h-100">
        <div class="form-group mb-2">
          <label class="small mb-1" for="inputCategoryName">Category Name</label>
          <input
            formControlName="categoryName"
            class="form-control" id="inputCategoryName" type="text" placeholder="Enter category name"
            [readOnly]="this.reactiveForm.value.categoryName === 'Unassigned'">
          <div *ngIf="reactiveForm.controls.categoryName.errors && (reactiveForm.controls.categoryName.touched ||
                           reactiveForm.controls.categoryName.dirty) " style="color: red">
            <div *ngIf="reactiveForm.hasError('required','categoryName')">
              Category Name is required
            </div>
            <div *ngIf="reactiveForm.hasError('minLength','categoryName')">
              Category Name must be 3 characters or more
            </div>
            <div *ngIf="reactiveForm.hasError('maxLength','categoryName')">
              Category Name maximum length is 10
            </div>
          </div>
        </div>


      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Cancel</button>
        <button type="submit" class="btn btn-outline-primary">
          Confirm
        </button>
      </div>
    </form>


  </ng-template>
</div>


<!-- Modal Remove Product In Category -->
<ng-template #confirmationRemoveProductModal let-modal>
  <div class="modal-header" ngbAutofocus>
    <h4 class="modal-title" id="yesOrNoCategoryModal">Confirm Remove Product ?</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.close()">
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        Remove product "{{productName}}" from category "{{this.reactiveForm.value.categoryName}}" ?
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Cancel
    </button>
    <button type="button" (click)="removeProductInCategory()" class="btn btn-outline-primary">
      Delete
    </button>

  </div>
</ng-template>

<!-- Modal Delete Category -->
<ng-template #deleteCategoryModal let-modal>
  <div class="modal-header" ngbAutofocus>
    <h4 class="modal-title" id="deleteProductModal">Delete Category ?</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()">
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        Delete category {{modalCategoryName}} ?
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Cancel</button>
    <button type="button" (click)="deleteCategory()" class="btn btn-outline-primary">
      Delete
    </button>

  </div>
</ng-template>


