<div class="container mt-4">
  <div class="mb-3">
    <div class="col mb-3">
      <div class="card">
        <nav class="navbar">
          <div class="container-fluid">
            <button
              (click)="loadProductBasedOnCategory(null, addOrEditModal, false)"
              class="btn btn-primary">Add Category
            </button>
            <div class="d-flex">
              <!--          (click)="sort('userFirstName')"-->
              <button class="btn btn-dark me-2">
                <!--            <i *ngIf="!isDescOrder" class="fa fa-sort-alpha-desc"></i>-->
                <!--            <i *ngIf="isDescOrder" class="fa fa-sort-alpha-asc"></i>-->
              </button>
              <!--          [(ngModel)]="term"-->
              <input class="form-control me-2" type="search" placeholder="Search"
                     aria-label="Search">
            </div>
          </div>
        </nav>

      </div>
    </div>
  </div>
  <div class="row">
    <div
      *ngFor="let category of productCategory; let i = index;"
      class="col-sm-6 col-md-4 col-lg-4 mb-4">
      <div class="card h-100">
        <div class="card-header">
          {{category.categoryName}}
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <i class="fa fa-upload me-1" style="color:blue!important"></i>
              Created : {{category.createdOn}}
            </li>
            <li class="list-group-item">
              <i class="fa fa-clock me-1" style="color:blue!important"></i>
              Updated : {{category.updatedOn}}
            </li>
            <li class="list-group-item">
              <i class="fa fa-shopping-cart me-1" style="color:blue!important"></i>
              Total product : {{category?.totalProduct}}
            </li>
          </ul>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-end">
            <button
              mat-icon-button
              color="primary"
              (click)="loadProductBasedOnCategory(category.id,addOrEditModal, true, i)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              (click)="this.ngbModal.open(deleteCategoryModal)"
              color="warn">
              <mat-icon>delete</mat-icon>
            </button>

            <!-- Modal Delete Product -->
            <ng-template #deleteCategoryModal let-modal>
              <div class="modal-header" ngbAutofocus>
                <h4 class="modal-title" id="deleteProductModal">Delete Category ?</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()">
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    Delete category {{category?.categoryName}} ?
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Cancel</button>
                <button type="button" class="btn btn-outline-primary">
                  Delete
                </button>

              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Add or Edit Category -->
  <ng-template #addOrEditModal let-modal>
    <form [formGroup]="reactiveForm" (ngSubmit)="submit()">
      <div class="modal-header" ngbAutofocus>
        <h4 class="modal-title" id="addOrEditProductModal">{{editMode ? "Edit" : "Add"}} Category ?</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()">
        </button>
      </div>

      <div class="modal-body h-100">
        <div class="form-group mb-2">
          <label class="small mb-1" for="inputUsername">Category Name</label>
          <input
            formControlName="categoryName"
            class="form-control" id="inputUsername" type="text" placeholder="Enter category name">
        </div>
        <table
          *ngIf="editMode"
          mat-table matSort [dataSource]="dataSource" class="w-100">

          <tr mat-header-row *matHeaderRowDef="displayedColumns;  sticky: true"></tr>
          <tr
            mat-row
            *matRowDef="let row;
                      columns: displayedColumns;">
          </tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="9999">
              No data found
            </td>
          </tr>

          <ng-container matColumnDef="productName">
            <th mat-header-cell mat-sort-header="name" *matHeaderCellDef>
              Product Name
            </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button
                type="button"
                mat-icon-button
                color="warn">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

        </table>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Cancel</button>
        <button type="submit" class="btn btn-outline-primary">
          Confirm
        </button>
      </div>
    </form>

  </ng-template>
</div>


