<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2 justify-content-center" style="font-size: 25px">User List</div>
  <div class="page__content shadow p-3 card-body d-flex flex-column">
    <div class="container" id="main-container">
      <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="container-fluid">
          <button routerLink="/user/add" class="btn btn-primary">Add User</button>
          <div class="d-flex">
            <button (click)="sort('userFirstName')" class="btn btn-dark me-2">
              <i *ngIf="!isDescOrder" class="fa fa-sort-alpha-desc"></i>
              <i *ngIf="isDescOrder" class="fa fa-sort-alpha-asc"></i>
            </button>
            <input [(ngModel)]="term" class="form-control me-2" type="search" placeholder="Search"
                   aria-label="Search">
          </div>
        </div>
      </nav>

      <div class="row justify-content-center mt-5">
        <div *ngFor="let user of users |
         orderBy: orderHeader: isDescOrder |
         filter:term |
         paginate: { itemsPerPage: 4, currentPage: p }" class="col-md-6 col-xl-3">
          <div class="card m-b-30 shadow-sm">
            <div class="card-body row">
              <div class="col-6">
                <a href=""><img src="{{user.imageUrl}}" class="img-fluid rounded-circle w-60"></a>
              </div>
              <div class="col-6 card-title align-self-center mb-0">
                <h5>{{user?.userFirstName}}</h5>
              </div>
            </div>
            <ul class="list-group list-group-flush">
              <h6 class="list-group-item"><i class="fa fa-home float-right"></i>Address : <a
                href="#">{{user?.address}}</a></h6>
              <h6 class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : {{user?.phoneNumber}}</h6>
            </ul>
            <div class="card-body">
              <div class="float-lg-start btn-group btn-group-sm">
                <a class="btn btn-primary tooltips" routerLink="/user/{{user.username}}" data-placement="top"
                   data-toggle="tooltip" data-original-title="Edit"><i
                  class="fa fa-pencil" style="color: white"></i> </a>

                <a (click)="open(deleteUserModal)" class="btn btn-secondary tooltips" data-placement="top"
                   data-toggle="tooltip"
                   data-original-title="Delete"><i class="fa fa-times" style="color: white"></i></a>
              </div>
            </div>
          </div>

          <!-- Modal Delete User -->
          <ng-template #deleteUserModal let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="deleteUserModal">Delete User ?</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  Delete user {{user?.username}} ?
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Cancel</button>
              <button type="button" class="btn btn-outline-primary" (click)="onDeleteUser(user?.username)">Delete
              </button>

            </div>
          </ng-template>

        </div>

        <div
          *ngIf="!( users | filter: term)?.length"
          class="d-flex align-items-center justify-content-center"
          style="width: 200px; height: 200px">
          <div class="text-center mt-2">No Data</div>
        </div>
      </div>
    </div>
    <div class="text-center mt-auto">
      <style>
        .my-pagination /deep/ .ngx-pagination .current {
          background: red;
        }
      </style>

      <pagination-controls
        (pageChange)="p = $event"
        class="my-pagination"
      ></pagination-controls>
    </div>

  </div>
</div>





