<p-sidebar [(visible)]="display" *ngIf="roleInternal()" styleClass="p-sidebar-sm">
  <app-sidenav (toggleSidebarForMe)="display = false"></app-sidenav>
</p-sidebar>

<mat-drawer-container>
  <mat-drawer-content>
    <app-header-internal *ngIf="roleInternal()" (toggleSidebarForMe)="display = true"></app-header-internal>
    <app-header-external *ngIf="roleExternal()"></app-header-external>
    <router-outlet></router-outlet>
    <app-footer-external *ngIf="roleExternal()"></app-footer-external>
  </mat-drawer-content>
</mat-drawer-container>
