<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen" *ngIf="roleInternal()">
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <app-header-internal *ngIf="roleInternal()" (toggleSidebarForMe)="sideBarToggler()"></app-header-internal>
    <app-header-external *ngIf="roleExternal()" ></app-header-external>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>


<!--<router-outlet></router-outlet>-->
<!--<app-sidenav *ngIf="isLoggedIn()"></app-sidenav>-->
