<div class="container-fluid page mb-5">
  <div class="d-flex page__box p-3 mt-2">Product</div>
  <div class="page__content shadow  p-3 card-body d-flex flex-column">
    <table mat-table [dataSource]="product" matSort (matSortChange)="announceSortChange($event)">

      <tr mat-header-row *matHeaderRowDef="displayedColumns;  sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let row;
        columns: displayedColumns;"></tr>

      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
          Name
        </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by description">
          Description
        </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
          Price
        </th>
        <td mat-cell *matCellDef="let element"> {{element.unitPrice}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
          Symbol
        </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>


    </table>
    <mat-paginator [length]="pagination?.totalElements"
                   [pageSize]="pagination?.size"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   (page)="pageEvent = $event; onPaginateChange($event)"
                   aria-label="Select page">
    </mat-paginator>

  </div>
</div>
