//ng autocomplete

.ng-autocomplete {
  width: 100%;
}

.ng-autocomplete ::ng-deep .autocomplete-container {
  box-shadow: none;
}

.ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input {
  font-size: 0.875rem;
  display: block;
  height: 2.1875rem;
  padding: 0.375rem 1rem;
  font-weight: 400;
  line-height: 1.52857143;
  color: #495057;
  border: 2px solid #dde6e9;
  border-radius: 0.25rem;
}

.ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .suggestions-container ::ng-deep .item ::ng-deep .row {
  padding: 0.5rem 1rem;
}

.ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .not-found {
  border: 0;
}


//

//mat icon

.mat-icon{
  height:18px !important;
  width:18px !important;
  font-size:18px !important;
}


//

.page {
  color: white;
  padding: 0 1rem;
  background: #f1f5f9;
  &__box {
    min-height: 120px;
    background: #1e293b;
    margin: 0 -1rem;
    font-size: 36px;
  }
  &__content {
    min-height: calc(100vh - 178px);
    border-radius: 10px;
    margin-top: -2rem;
    background: white;
    color: black;
    font-size: 2rem;
    &-data {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
