<div class="container-fluid page mb-5">
  <div class="d-flex page__box p-3 mt-2">Product</div>
  <div class="page__content shadow  p-3 card-body d-flex flex-column">

    <!--    (keydown.enter)="route()"-->
    <!--    (inputChanged)='onChange($event)'-->

    <div class="container">
      <div class="row">
        <div class="col-md-8"></div>
        <div class="col-6 col-md-4">
          <div class="ng-autocomplete mb-2">
            <ng-autocomplete
              [data]="product"
              [debounceTime]="500"
              (selected)="getlistProductsNameSearch($event)"
              [searchKeyword]="'name'"
              [placeholder]="'Search products...'"
              [itemTemplate]="itemTemplate"
              [notFoundTemplate]="notFoundTemplate">
            </ng-autocomplete>

            <ng-template #itemTemplate let-item>
              <a [innerHTML]="item.name"></a>
            </ng-template>

            <ng-template #notFoundTemplate let-notFound>
              <!--          <div [innerHTML]="notFound"></div>-->
            </ng-template>
          </div>
        </div>
      </div>
    </div>


    <table mat-table matSort [dataSource]="dataSource">

      <tr mat-header-row *matHeaderRowDef="displayedColumns;  sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let row;
        columns: displayedColumns;"></tr>


      <!--      <img-->
      <!--        [lazyLoad]=" apiBaseUrl +'/'+ projectName +'/images/user/download/' + user?.imageUrl  "-->
      <!--        class="img-fluid" alt=""/>-->

      <!-- Position Column -->
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <img
            [lazyLoad]=" apiBaseUrl +'/'+ projectName +'/images/product/download/' + element?.images[0]?.imageName  "
            class="rounded-circle"
            style="height: 70px;width: 70px; padding: 5px;">
        </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header="name" *matHeaderCellDef>
          Name
        </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell mat-sort-header="description" *matHeaderCellDef sortActionDescription="Sort by description">
          Description
        </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell mat-sort-header="unitPrice" *matHeaderCellDef sortActionDescription="Sort by price">
          Price
        </th>
        <td mat-cell *matCellDef="let element"> {{element.unitPrice | currency:'Rp. ':'symbol':'3.0'}} </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            color="primary"
            matTooltip="Edit {{element.name}}"
            [matTooltipPosition]="'below'"
            (click)="onEditButtonClicked(element.id)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            color="warn"
            matTooltip="Delete {{element.name}}"
            [matTooltipPosition]="'below'"
            (click)="onEditButtonClicked(element.id)">
            <mat-icon>delete</mat-icon>
          </button>

        </td>
      </ng-container>


    </table>
    <!--    <mat-paginator [length]="pagination?.totalElements"-->
    <!--                   [pageSize]="pagination?.size"-->
    <!--                   [pageSizeOptions]="[5, 10, 25, 100]"-->
    <!--                   (page)="pageEvent = $event; onPaginateChange($event)"-->
    <!--                   aria-label="Select page">-->
    <!--    </mat-paginator>-->
    <mat-paginator [length]="pagination?.totalElements"
                   [pageSize]="pagination?.size"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   (page)="pageEvent = $event; onPaginateChange($event)"
                   aria-label="Select page">
    </mat-paginator>

  </div>
</div>
