<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">-->
<!--  <div class="container-fluid">-->
<!--    <a class="navbar-brand" href="#">Navbar</a>-->
<!--    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"-->
<!--            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--      <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a *ngIf="userService.roleMatch(['Admin'])" class="nav-link active" aria-current="page"-->
<!--             routerLink="/admin">Admin Dashboard</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a *ngIf="userService.roleMatch(['User'])" class="nav-link active" aria-current="page"-->
<!--             routerLink="/user">User Dashboard</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a *ngIf="userService.roleMatch(['Admin'])" class="nav-link active" aria-current="page"-->
<!--             routerLink="/member">Member</a>-->
<!--        </li>-->
<!--        <li class="dropdown">-->
<!--          <a href="#" class="nav-item nav-link" data-toggle="dropdown">Product</a>-->
<!--          <div class="dropdown-menu">-->
<!--            <a href="#" class="dropdown-item">Dropdown Item 1</a>-->
<!--            <a href="#" class="dropdown-item">Dropdown Item 2</a>-->
<!--            <a href="#" class="dropdown-item">Dropdown Item 3</a>-->
<!--            <a href="#" class="dropdown-item">Dropdown Item 4</a>-->
<!--            <a href="#" class="dropdown-item">Dropdown Item 5</a>-->
<!--          </div>-->
<!--        </li>-->
<!--      </ul>-->
<!--      <button *ngIf="!isLoggedIn()" type="button" class="btn btn-success" routerLink="/login">Login</button>-->
<!--      <button *ngIf="isLoggedIn()" type="button" class="btn btn-danger" (click)="logout()">Logout</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" style="z-index: 1">
    <div class="container">
      <a href="#" class="navbar-brand">Admin Favor</a>

      <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#main-nav">
        <span class="menu-icon-bar"></span>
        <span class="menu-icon-bar"></span>
        <span class="menu-icon-bar"></span>
      </button>

      <div id="main-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li><a href="#" class="nav-item nav-link active" routerLink="/home">Home</a></li>
          <li><a *ngIf="userService.roleMatch(['Admin'])" href="#" class="nav-item nav-link" routerLink="/admin">Admin Dashboard</a></li>
          <li class="dropdown">
            <a href="#" class="nav-item nav-link" data-toggle="dropdown">Member</a>
            <div class="dropdown-menu">
              <a href="#" class="dropdown-item" routerLink="/member">CRUD Member</a>
              <a href="#" class="dropdown-item">Dropdown Item 2</a>
              <a href="#" class="dropdown-item">Dropdown Item 3</a>
            </div>
          </li>
          <li class="dropdown">
            <a href="#" class="nav-item nav-link" data-toggle="dropdown">Product</a>
            <div class="dropdown-menu">
              <a href="#" class="dropdown-item">Dropdown Item 1</a>
              <a href="#" class="dropdown-item">Dropdown Item 2</a>
              <a href="#" class="dropdown-item">Dropdown Item 3</a>
              <a href="#" class="dropdown-item">Dropdown Item 4</a>
              <a href="#" class="dropdown-item">Dropdown Item 5</a>
            </div>
          </li>
        </ul>
        <button *ngIf="!isLoggedIn()" type="button" class="btn btn-success" routerLink="/login">Login</button>
        <button *ngIf="isLoggedIn()" type="button" class="btn btn-danger" (click)="logout()">Logout</button>
      </div>
    </div>
  </nav>


