<mat-nav-list>
  <div class="logo py-4">
    <img src="../../assets/image/google.svg" alt="Company Logo">
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2"> APPLICATION </h2>
  <a mat-list-item routerLink="/home" (click)="toggleSidebar()" routerLinkActive="list-item-active">
    <mat-icon>home</mat-icon>
    Home </a>
  <a mat-list-item routerLink="/int/admin" (click)="toggleSidebar()" routerLinkActive="list-item-active">
    <mat-icon>key</mat-icon>
    Admin </a>
  <a mat-list-item routerLink="/int/user" (click)="toggleSidebar()" routerLinkActive="list-item-active">
    <mat-icon>people</mat-icon>
    User </a>
  <a mat-list-item routerLink="/int/product" (click)="toggleSidebar()" routerLinkActive="list-item-active">
    <mat-icon>restaurant</mat-icon>
    Product </a>
  <a mat-list-item>
    <mat-icon>power_settings_new</mat-icon>
    Logout </a>
</mat-nav-list>


